body {
    text-align: center;
    font-family: "Microsoft JhengHei", sans-serif;
}

.title {
    font-size: 20pt;
    margin-top: 30px;
}

.container {
    width: 350px;
    margin: 0 auto;
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 20px;
}

.label-title {
    font-size: 10pt;
    display: block;
    margin-bottom: 5px;
}

.date-input {
    width: 200px;
    padding: 5px;
    font-size: 12pt;
}

.btn-area {
    margin-top: 15px;
}

.btn {
    background-color: #00CACA;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 12pt;
    margin: 0 15px;
    border-radius: 5px;
}

.btn:hover {
    background-color: #00EC00;
}

.result-title {
    font-size: 14pt;
}

.result-box {
    width: 90%;
    height: auto;
    min-height: 60px;
    margin: 0 auto;
    background-color: #F3F3FA;
    border-radius: 6px;
    padding: 10px;
    text-align: left;
    line-height: 1.6;
    font-size: 12pt;
}
